<%- include('header') %>

    <div id="main-content">
      <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- post-container -->
                <div class="post-container">
                  <h2 class="page-heading"><%= authorName %></h2>
                    <% authorPost.forEach(author => { %>
                        
                    <div class="post-content">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="post-img" href="/single/<%= author.post._id %>"><img src="/uploads/<%= author.post.image %>" alt=""/></a>
                            </div>
                            <div class="col-md-8">
                                <div class="inner-content clearfix">
                                    <h3><a href='/single/<%= author.post._id %>'><%= author.post.title %></a></h3>
                                    <div class="post-information">
                                        <span>
                                            <i class="fa fa-tags" aria-hidden="true"></i>
                                            <a href='/category/<%= author.category.name %>'><%= author.category.name %></a>
                                        </span>
                                        <span>
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <a href='/author/<%= author.username %>'><%= author.username %></a>
                                        </span>
                                        <span>
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <%= author.post.date.toLocaleDateString() %>
                                        </span>
                                    </div>
                                    <p class="description">
                                      <%= author.post.description.length > 70 ? author.post.description.substring(0, 150) + '...' : author.post.description %>

                                      <!-- <%# author.post.description %> -->
                                    </p>
                                    <a class='read-more pull-right' href='/single/<%= author.post._id %>'>read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% }) %>
                  
                  <ul class='pagination admin-pagination'>
                    <% if (currentPage > 1) { %>
                      <li>
                        <a href="/author/<%= authorName %>?page=<%= currentPage - 1 %>">Previous</a>
                      </li>
                    <% } %>
        
                    <% if (totalPages > 1) { %>
                      <% for (let i=1; i <= totalPages; i++) { %>
                        <li class="<%= currentPage === i ? 'active' : '' %>">
                          <a href="/author/<%= authorName %>?page=<%= i %>">
                            <%= i %>
                          </a>
                        </li>
                      <% } %>
                    <% }  %>
        
                    <% if (currentPage < totalPages) { %>
                      <li><a href="/author/<%= authorName %>?page=<%= currentPage + 1 %>">Next</a></li>
                    <% } %>
                </ul> 
                  
                </div><!-- /post-container -->
            </div>
            <%- include('sidebar') %>
        </div>
      </div>
    </div>
<%- include('footer') %>

